/* Color Theme Swatches in Hex */
.Green-Globe-On-Moss---Environmental-Concept
-1-hex { color: #042940; }
.Green-Globe-On-Moss---Environmental-Concept
-2-hex { color: #005C53; }
.Green-Globe-On-Moss---Environmental-Concept
-3-hex { color: #9FC131; }
.Green-Globe-On-Moss---Environmental-Concept
-4-hex { color: #DBF227; }
.Green-Globe-On-Moss---Environmental-Concept
-5-hex { color: #D6D58E; }

/* Color Theme Swatches in RGBA */
.Green-Globe-On-Moss---Environmental-Concept
-1-rgba { color: rgba(4, 40, 63, 1); }
.Green-Globe-On-Moss---Environmental-Concept
-2-rgba { color: rgba(0, 91, 82, 1); }
.Green-Globe-On-Moss---Environmental-Concept
-3-rgba { color: rgba(158, 193, 49, 1); }
.Green-Globe-On-Moss---Environmental-Concept
-4-rgba { color: rgba(219, 242, 38, 1); }
.Green-Globe-On-Moss---Environmental-Concept
-5-rgba { color: rgba(214, 212, 142, 1); }

/* Color Theme Swatches in HSLA */
.Green-Globe-On-Moss---Environmental-Concept
-1-hsla { color: hsla(203, 88, 13, 1); }
.Green-Globe-On-Moss---Environmental-Concept
-2-hsla { color: hsla(174, 100, 18, 1); }
.Green-Globe-On-Moss---Environmental-Concept
-3-hsla { color: hsla(74, 59, 47, 1); }
.Green-Globe-On-Moss---Environmental-Concept
-4-hsla { color: hsla(66, 88, 55, 1); }
.Green-Globe-On-Moss---Environmental-Concept
-5-hsla { color: hsla(59, 46, 69, 1); }
