// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)



// Then add additional custom code here
/* Color Theme Swatches in Hex */
$Grey-and-Yellow-1-hex: #FFFFFF;
$Grey-and-Yellow-2-hex: #FBF37C;
$Grey-and-Yellow-3-hex: #7F7F7F;
$Grey-and-Yellow-4-hex: #58555A;
$Grey-and-Yellow-5-hex: #000000;

/* Color Theme Swatches in RGBA */
$Grey-and-Yellow-1-rgba: rgba(255,255,255, 1);
$danger: rgba(251,242,124, 1);
$Grey-and-Yellow-3-rgba: rgba(126,126,126, 1);
$primary: rgba(87,84,89, 1);
$Grey-and-Yellow-5-rgba: rgba(0,0,0, 1);

/* Color Theme Swatches in HSLA */
$Grey-and-Yellow-1-hsla: hsla(0, 0, 100, 1);
$Grey-and-Yellow-2-hsla: hsla(56, 94, 73, 1);
$Grey-and-Yellow-3-hsla: hsla(0, 0, 49, 1);
$Grey-and-Yellow-4-hsla: hsla(276, 2, 34, 1);
$Grey-and-Yellow-5-hsla: hsla(0, 0, 0, 1);

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue;
}
.current {
    color: green;
}
#menu {
    font-family: Revalia;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #3360A4;
}